{{ define "title"}}{{ .Title }}{{ end }}

{{ define "header" }}
<div class="blog-header">
  <h1 class="blog-title">{{ .Title }}</h1>
</div>
{{ end }}

{{ define "content" }}
{{range .Pages}}
<div class="blog-post">
  <h2 class="blog-post-title"><a href="/{{ .Slug }}/">{{ .Title }}</a></h2>
  <p><span class="blog-inline-date">{{ .PubDate.Month }} {{ .PubDate.Day }}, {{ .PubDate.Year }}</span> {{ .Summary }}</p>
  {{if .Tags}}<p class="blog-tags">Filed under {{range .Tags }}<span class="blog-tag"><a href="/tags/{{ . }}/">{{ . }}</a></span>{{end}}</p>{{end}}  
</div>
{{ end }}

<nav>
  <ul class="pagination">
    {{range .Paginator.Pages}}
    {{if .Selected}}
    <li class="active"><span>{{.Num}} <span class="sr-only">(current)</span></span></li>
    {{else}}
    <li><a href="?offset={{.Offset}}">{{.Num}}</a></li>
    {{end}}
    {{end}}
  </ul>
</nav>

{{ end }}
