{{ define "title"}}{{ .Title }}{{ end }}

{{ define "header" }}
<div class="blog-header">
  <h1 class="blog-title">{{ .Title }}</h1>
</div>
{{ end }}

{{ define "content" }}
{{range .Pages}}
<div class="blog-post">
  <h2 class="blog-post-title"><a href="/{{ .Slug }}/">{{ .Title }}</a></h2>
  <p><span class="blog-inline-date">{{ .PubDate.Month }} {{ .PubDate.Day }}, {{ .PubDate.Year }}</span> {{ .Summary }}</p>
  {{if .Tags}}<p class="blog-tags">Filed under {{range .Tags }}<span class="blog-tag"><a href="/tags/{{ . }}/">{{ . }}</a></span>{{end}}</p>{{end}}  
</div>
{{ end }}

<nav class="blog-pagination">
  <ul class="pagination">
    {{if .Paginator.HasPrev }}
    <li>
      <a href="?offset={{.Paginator.PrevOffset}}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
    </li>
    {{end}}    
    {{range .Paginator.Pages}}
    {{if .Selected}}
    <li class="active"><span>{{.Num}} <span class="sr-only">(current)</span></span></li>
    {{else}}
    <li><a href="?offset={{.Offset}}">{{.Num}}</a></li>
    {{end}}
    {{end}}
    {{if .Paginator.HasNext }}
    <li>
      <a href="?offset={{.Paginator.NextOffset}}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
    </li>
    {{end}}    
  </ul>
</nav>

{{ end }}
